TeleCell_WS/wsdl/Services.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.i2i.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.i2i.com" xmlns:intf="http://ws.i2i.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.i2i.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="login">
    <complexType>
     <sequence>
      <element name="inputPhoneNumber" type="xsd:string"/>
      <element name="inputPassword" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="loginResponse">
    <complexType>
     <sequence>
      <element name="loginReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="changePassword">
    <complexType>
     <sequence>
      <element name="inputPhoneNumber" type="xsd:string"/>
      <element name="inputEmail" type="xsd:string"/>
      <element name="inputNewPassword" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="changePasswordResponse">
    <complexType>
     <sequence>
      <element name="changePasswordReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="createAccount">
    <complexType>
     <sequence>
      <element name="inputFullName" type="xsd:string"/>
      <element name="inputPhoneNumber" type="xsd:string"/>
      <element name="inputEmail" type="xsd:string"/>
      <element name="inputPassword" type="xsd:string"/>
      <element name="inputBirthDate" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createAccountResponse">
    <complexType>
     <sequence>
      <element name="createAccountReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getBalances">
    <complexType>
     <sequence>
      <element name="inputPhoneNumber" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getBalancesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getBalancesReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="showProfile">
    <complexType>
     <sequence>
      <element name="inputPhoneNumber" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="showProfileResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="showProfileReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="changePasswordRequest">

      <wsdl:part element="impl:changePassword" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBalancesRequest">

      <wsdl:part element="impl:getBalances" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginRequest">

      <wsdl:part element="impl:login" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createAccountRequest">

      <wsdl:part element="impl:createAccount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="showProfileResponse">

      <wsdl:part element="impl:showProfileResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBalancesResponse">

      <wsdl:part element="impl:getBalancesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="showProfileRequest">

      <wsdl:part element="impl:showProfile" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createAccountResponse">

      <wsdl:part element="impl:createAccountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginResponse">

      <wsdl:part element="impl:loginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="changePasswordResponse">

      <wsdl:part element="impl:changePasswordResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Services">

      <wsdl:operation name="login">

         <wsdl:input message="impl:loginRequest" name="loginRequest">

       </wsdl:input>

         <wsdl:output message="impl:loginResponse" name="loginResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="changePassword">

         <wsdl:input message="impl:changePasswordRequest" name="changePasswordRequest">

       </wsdl:input>

         <wsdl:output message="impl:changePasswordResponse" name="changePasswordResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createAccount">

         <wsdl:input message="impl:createAccountRequest" name="createAccountRequest">

       </wsdl:input>

         <wsdl:output message="impl:createAccountResponse" name="createAccountResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getBalances">

         <wsdl:input message="impl:getBalancesRequest" name="getBalancesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getBalancesResponse" name="getBalancesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="showProfile">

         <wsdl:input message="impl:showProfileRequest" name="showProfileRequest">

       </wsdl:input>

         <wsdl:output message="impl:showProfileResponse" name="showProfileResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServicesSoapBinding" type="impl:Services">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="changePassword">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="changePasswordRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="changePasswordResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getBalances">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getBalancesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getBalancesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="showProfile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="showProfileRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="showProfileResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServicesService">

      <wsdl:port binding="impl:ServicesSoapBinding" name="Services">

         <wsdlsoap:address location="http://localhost:8083/TeleCell_WS/services/Services"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
